---
import { social } from "../../data/social";
---

<section class="contact-data-container">
  <div class="contact-data">
    <div class="cards">
      <div class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gmail"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z"></path><path
            d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z"></path><path
            d="M16 4l-4 4l-4 -4"></path><path d="M4 6.5l8 7.5l8 -7.5"
          ></path></svg
        >
        <div class="card-data">
          <h4>Correo</h4>
          <a href=`${social.email.link}` target="_blank">{social.email.name}</a>
        </div>
      </div>
      <div class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile-message"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M11 3h10v8h-3l-4 2v-2h-3z"></path><path
            d="M15 16v4a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1h2"
          ></path><path d="M10 18v.01"></path></svg
        >
        <div class="card-data">
          <h4>Teléfono</h4>
          <a href=`${social.phone.link}` target="_blank">{social.phone.name}</a>
        </div>
      </div>
      <div class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        >
        <div class="card-data">
          <h4>Linkedin</h4>
          <a href=`${social.linkedin.link}` target="_blank"
            >{social.linkedin.name}</a
          >
        </div>
      </div>
      <div class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        >
        <div class="card-data">
          <h4>Github</h4>
          <a href=`${social.github.link}` target="_blank"
            >{social.github.name}</a
          >
        </div>
      </div>
    </div>
    <img
      src="http://www.buzzfeed.com/ryanhatesthis/awesomely-adorable-pixel-art-presented-in-gif-for"
      alt=""
    />
  </div>
</section>

<style>
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
  }

  .card svg {
    width: 5rem;
    height: 5rem;
    opacity: 0.2;
  }
  .card-data {
    display: flex;
    flex-direction: column;
  }
  .card-data h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.9rem;
    color: var(--gray-color);
  }
  .card-data a {
    color: var(--white-color);
    text-decoration: none;
    margin-left: 0.5rem;
  }
  .card-data a:hover {
    text-decoration: underline;
  }

  @media (width < 1400px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (width < 750px) {
    .cards {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  @media (width < 460px) {
    .card svg {
      width: 3rem;
      height: 3rem;
    }
  }
  @media (width < 460px) {
    .card-data a {
      font-size: 0.8rem;
      color: var(--white-color);
      text-decoration: none;
      margin-top: 0.2rem;
      margin-left: 0.3rem;
    }
  }
</style>
